* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "comic sans ms";
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(130, 130, 236), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
}

nav {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height:  50px;
    
}


input {
    margin: 15px;
    padding: 15px;
    background-color: transparent;
    outline-width: 0;
    width: 400px;
    height: 45px;
    border-radius: 100vh;
    border: solid 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255)
}

span {
    font-size: 35px;
    margin-left: 8px;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

.roomIcon {
    cursor: pointer;
}

.roomIcon:active {
    color: rgb(190, 190, 190);
}

.weatherScreen {
    width: 100%;
    height: 550px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cityName {
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 255, 255);

}
.dateInfo {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
}

.tempGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tempGroup .max_temp {
    color: rgb(252, 151, 0);
}

.tempGroup .min_temp {
    color: rgb(4, 0, 252);
}

.icon{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80px;
    height: 80px;
    color: rgb(255, 255, 255);
    outline: 0;
}

.tempGroup p {
    color: rgb(255, 255, 255);
    margin: 10px;
}

.tempGroupText {
    font-size: 14px;
}

.tempInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.tempText {
    transform: translateY(30%);
    font-size: 7rem;
    font-weight: 800;
}

.cardGroup {
    display: flex;
}

.forecastCard {
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid 1px white;
    border-radius: 10px;
}

.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/5;
    grid-row: 1/1;
    
}

.item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/4;
}

.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
    grid-row: 2/4;
    font-size: 30px;
}

.item4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/5;
    grid-row: 4/5;
}

.item4 p {
    margin: 5px;
}

.icon {
    font-size: 50px;
}

.cardUnitText {
    font-size: 14px;
}

.loadSpinner {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadSpinner span {
    position: absolute;
    top: 0%;
    left: -2%;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 255, 255);
    animation: animate 5s linear infinite;
}

.loadSpinner span:nth-child(1) {
    /* border-radius: 50%; */
    border-radius: 51% 49% 70% 30% / 46% 65% 35% 54% 
  }
  
  .loadSpinner span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 73% 27% 81% 19% / 25% 65% 35% 75% 
  }
  
  .loadSpinner span:nth-child(3) {
    animation-duration: 3s;
    border-radius: 73% 27% 81% 19% / 25% 65% 35% 75%
  }

  .loadText {
      font-size: 24px;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
